.max-win {
    min-height: 95vh;
    min-width: 100vw;
    overflow: hidden;
}
.unmax-win {
    top: 0px!important;
    left: 0px!important;
    margin: 0px!important;
}
.changePosition {
    top: 0px!important;
    left: 0px!important;
    margin: -88px -390px;
}
.natural {
    top: 0px;
    left: 0px;
    margin: 0px!important;
}
.mini-off {
    display: block;
}
.mini-on {
    animation: minimize 1s;
}
.heart {
    color: red!important;
    animation: kokoro 2s 1s steps(100) forwards, pulse 1s 4s infinite;
    position: absolute;
}
#window-readme {
    left: 1000%;
}
#window-guru {
    -webkit-animation: summon 1s steps(150) forwards;
    -moz-animation: summon 1s steps(150) forwards;
    -o-animation: summon 1s steps(150) forwards;
    animation: summon 1s steps(150) forwards;
    transform-origin: 0px 500px;
}
#window-skills {
    top: 100pxpx;
    left: 400px;
}
#window-tools {
    left: 500px;
}
#window-education {
    top: -150px;
    margin-left: 300px;
}
#window-exp {
    top: -150px;
    left: 400px;
}
#window-langs {
    top: -120px;
    left: 500px;
}
#window-aboutme {
    top: -200px!important;
    left: 300px!important;
}
.minimize-window1.ng-hide-remove {
    -webkit-animation: show 1s;
    -moz-animation: show 1s;
    -o-animation: show 1s;
    animation: show 1s;
}
.minimize-window1.ng-hide-add {
    -webkit-animation: hide 1s;
    -moz-animation: hide 1s;
    -o-animation: hide 1s;
    animation: hide 1s;
}
.minimize-skills.ng-hide-remove {
    -webkit-animation: show 1s forwards;
    -moz-animation: show 1s forwards;
    -o-animation: show 1s forwards;
    animation: show 1s forwards;
}
.minimize-skills.ng-hide-add {
    -webkit-animation: hideSkills 1s steps(100);
    -moz-animation: hideSkills 1s steps(100);
    -o-animation: hideSkills 1s steps(100);
    animation: hideSkills 1s steps(100);
}
.minimize-tools.ng-hide-remove {
    -webkit-animation: show 1s forwards;
    -moz-animation: show 1s forwards;
    -o-animation: show 1s forwards;
    animation: show 1s forwards;
}
.minimize-tools.ng-hide-add {
    -webkit-animation: hideTools 1s;
    -moz-animation: hideTools 1s;
    -o-animation: hideTools 1s;
    animation: hideTools 1s;
}
.minimize-education.ng-hide-remove {
    -webkit-animation: show 1s forwards;
    -moz-animation: show 1s forwards;
    -o-animation: show 1s forwards;
    animation: show 1s forwards;
}
.minimize-education.ng-hide-add {
    -webkit-animation: hide 1s ease;
    -moz-animation: hide 1s ease;
    -o-animation: hide 1s ease;
    animation: hide 1s ease;
}
.minimize-exp.ng-hide-remove {
    -webkit-animation: show 1s ease;
    -moz-animation: show 1s ease;
    -o-animation: show 1s ease;
    animation: show 1s ease;
}
.minimize-exp.ng-hide-add {
    -webkit-animation: hide 1s ease;
    -moz-animation: hide 1s ease;
    -o-animation: hide 1s ease;
    animation: hide 1s ease;
}
.minimize-langs.ng-hide-remove {
    -webkit-animation: show 1s;
    -moz-animation: show 1s;
    -o-animation: show 1s;
    animation: show 1s;
}
.minimize-langs.ng-hide-add {
    -webkit-animation: hide 1s;
    -moz-animation: hide 1s;
    -o-animation: hide 1s;
    animation: hide 1s;
}
.minimize-aboutme.ng-hide-remove {
    -webkit-animation: show 1s;
    -moz-animation: show 1s;
    -o-animation: show 1s;
    animation: show 1s;
}
.minimize-aboutme.ng-hide-add {
    -webkit-animation: hide 1s;
    -moz-animation: hide 1s;
    -o-animation: hide 1s;
    animation: hide 1s;
}
.speech-lucas {
    animation: show 2s 1s forwards;
    opacity: 0;
}
img.fogo {
    position: absolute;
    transform: rotate(180deg);
    margin: 343px 102px;
    width: 65px
}
img.fogo.dois {
    margin: 343px 140px;
}
.typeit li {
    -webkit-animation: type-dos 3s steps(60, end);
    -moz-animation: type-dos 3s steps(60, end);
    -o-animation: type-dos 3s steps(60, end);
    animation: type-dos 3s steps(60, end);
}
.typeit li:nth-child(2) {
    width: 0;
    -webkit-animation: type-dos2 4s 1s steps(60, end) forwards;
    -moz-animation: type-dos2 4s 1s steps(60, end) forwards;
    -o-animation: type-dos2 4s 1s steps(60, end) forwards;
    animation: type-dos2 4s 1s steps(60, end) forwards;
}
.typeit li:nth-child(3) {
    width: 0;
    -webkit-animation: type-dos2 4s 4s steps(60, end) forwards;
    -moz-animation: type-dos2 4s 4s steps(60, end) forwards;
    -o-animation: type-dos2 4s 4s steps(60, end) forwards;
    animation: type-dos2 4s 4s steps(60, end) forwards;
}
.typeit li:nth-child(4) {
    width: 0;
    -webkit-animation: type-dos2 4s 6s steps(60, end) forwards;
    -moz-animation: type-dos2 4s 6s steps(60, end) forwards;
    -o-animation: type-dos2 4s 6s steps(60, end) forwards;
    animation: type-dos2 4s 6s steps(60, end) forwards;
}
.typeit li:nth-child(5) {
    width: 0;
    -webkit-animation: type-dos2 4s 7.5s steps(60, end) forwards;
    -moz-animation: type-dos2 4s 7.5s steps(60, end) forwards;
    -o-animation: type-dos2 4s 7.5s steps(60, end) forwards;
    animation: type-dos2 4s 7.5s steps(60, end) forwards;
}
.typeit li:nth-child(6) {
    width: 0;
    -webkit-animation: type-dos2 4s 8.5s steps(60, end) forwards;
    -moz-animation: type-dos2 4s 8.5s steps(60, end) forwards;
    -o-animation: type-dos2 4s 8.5s steps(60, end) forwards;
    animation: type-dos2 4s 8.5s steps(60, end) forwards;
}
.underline {
    -webkit-animation: underline 1s infinite;
    -moz-animation: underline 1s infinite;
    -o-animation: underline 1s infinite;
    animation: underline 1s infinite;
}
/* ANIMATONS */

@-o-keyframes kokoro {
    to {
        transform: rotate(270deg);
    }
}
@-moz-keyframes kokoro {
    to {
        transform: rotate(270deg);
    }
}
@-webkit-keyframes kokoro {
    to {
        transform: rotate(270deg);
    }
}
@keyframes kokoro {
    to {
        transform: rotate(270deg);
    }
}
@-o-keyframes pulse {
    to {
        font-size: 15px;
    }
}
@-moz-keyframes pulse {
    to {
        font-size: 15px;
    }
}
@-webkit-keyframes pulse {
    to {
        font-size: 15px;
    }
}
@keyframes pulse {
    to {
        font-size: 15px;
    }
}
@-o-keyframes underline {
    to {
        opacity: .0;
    }
}
@-moz-keyframes underline {
    to {
        opacity: .0;
    }
}
@-webkit-keyframes underline {
    to {
        opacity: .0;
    }
}
@keyframes underline {
    to {
        opacity: .0;
    }
}
@keyframes underline {
    to {
        opacity: .0;
    }
}
@-o-keyframes type-dos {
    from {
        width: 0;
    }
}
@-moz-keyframes type-dos {
    from {
        width: 0;
    }
}
@-webkit-keyframes type-dos {
    from {
        width: 0;
    }
}
@keyframes type-dos {
    from {
        width: 0;
    }
}
@-o-keyframes type-dos2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes type-dos2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes type-dos2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes type-dos2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes minimize {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes summon {
    from {} to {}
}
@keyframes summon {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
@-webkit-keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    70% {
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@-moz-keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    70% {
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@-o-keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    70% {
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    70% {
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes hide {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    30% {
        transform: scale(1.02);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}
@-moz-keyframes hide {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    30% {
        transform: scale(1.02);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}
@-o-keyframes hide {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    30% {
        transform: scale(1.02);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}
@keyframes hide {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    30% {
        transform: scale(1.02);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}
/*@-o-keyframes skillsAnimation{
    to{top:50%;}
}
@-moz-keyframes skillsAnimation{
    to{top:50%;}
}
@-webkit-keyframes skillsAnimation{
    to{top:50%;}
}
@keyframes skillsAnimation{
    to{top:50%;}
}*/

@-o-keyframes hideSkills {
    to {
        opacity: 0;
        transform: rotate(180deg);
    }
}
@-moz-keyframes hideSkills {
    to {
        opacity: 0;
        transform: rotate(180deg);
    }
}
@-webkit-keyframes hideSkills {
    to {
        opacity: 0;
        transform: rotate(180deg);
    }
}
@-o-keyframes hideSkills {
    to {
        opacity: 0;
        transform: rotate(180deg);
    }
}
@-moz-keyframes hideSkills {
    to {
        opacity: 0;
        transform: rotate(180deg);
    }
}
@-webkit-keyframes hideSkills {
    to {
        opacity: 0;
        transform: rotate(180deg);
    }
}
@keyframes hideSkills {
    to {
        opacity: 0;
        transform: rotate(180deg);
    }
}
/*@-o-keyframes toolsAnimation{
   0% {
        opacity: 0;
        margin-top:80px;
       position: absolute;
    }
    70% {
        
        position: absolute;
    }
    100% {
        opacity: 1;
        margin-top:-10px!important;
        position: absolute;
    }
}
@-moz-keyframes toolsAnimation{
   0% {
        opacity: 0;
        margin-top:80px;
       position: absolute;
    }
    70% {
        
        position: absolute;
    }
    100% {
        opacity: 1;
        margin-top:-10px!important;
        position: absolute;
    }
}
@-webkit-keyframes toolsAnimation{
   0% {
        opacity: 0;
        margin-top:80px;
       position: absolute;
    }
    70% {
        
        position: absolute;
    }
    100% {
        opacity: 1;
        margin-top:-10px!important;
        position: absolute;
    }
}
@keyframes toolsAnimation{
   0% {
        opacity: 0;
        margin-top:80px;
       position: absolute;
    }
    70% {
        
        position: absolute;
    }
    100% {
        opacity: 1;
        margin-top:-10px!important;
        position: absolute;
    }
}*/

@-o-keyframes hideTools {
    to {
        opacity: 0;
        transform: rotateX(180deg);
    }
}
@-moz-keyframes hideTools {
    to {
        opacity: 0;
        transform: rotateX(180deg);
    }
}
@-webkit-keyframes hideTools {
    to {
        opacity: 0;
        transform: rotateX(180deg);
    }
}
@keyframes hideTools {
    to {
        opacity: 0;
        transform: rotateX(180deg);
    }
}
/*@keyframes expAnimation{
    from{
        position: absolute;
        opacity: 0;
        margin-left: 0px;
    }
    to{ 
        margin-left: -200px!important;
        position: absolute;
        opacity: 1;
        
    }
}*/