@font-face {
  font-family: 'FixedsysExcelsior301Regular';
  src: url('assets/fonts/FSEX300.woff') format('woff'),
       url('assets/fonts/FSEX300.ttf') format('truetype');
}

.window-header {
    background-color: #010081;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 1px;
    margin-bottom: 2px;
    text-align: left;
    text-transform: uppercase;
}
.window-icon {
    height: 16px;
    width: 16px;
    box-sizing: border-box;
    vertical-align: -1px;
}
.window-header {
    background-color: #010081;
    color: ;
    width: 100%;
    box-sizing: border-box;
    padding-top: 4px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 1px;
    margin-bottom: 1px;
    text-align: left;
    text-transform: uppercase;
}
.window-icon {
    height: 16px;
    width: 16px;
    box-sizing: border-box;
    vertical-align: -1px;
}
.window-title {
    padding-left: 1px;
    height: 16px;
    display: inline-block;
    vertical-align: baseline;
    color: #fff;
}
.action_btn {
    display: inline-block;
    float: right;
}
.form_btn {
    line-height: 16px;
    vertical-align: 0px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    margin-right: 1px;
    background-color: silver;
}
.text-form {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.window-border {
    border-top: 2px groove #fff;
    border-left: 2px groove #fff;
    border-right: 2px groove #000;
    border-bottom: 2px groove #000;
    background-color: #C0C0C0;
}
.window-form {
    min-height: 300px;
    min-width: 500px;
    height: auto;
    width: 500px;
    position: absolute;
    display: block;
    z-index: 1;
    overflow-y: auto;
}
.window-form:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 25px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-top: 1px groove #000;
    border-left: 1px groove #000;
    border-right: 1px groove #fff;
    border-bottom: 1px groove #fff;
    background: #fff;
    flex: 1;
}
.window-form-browser {
    min-height: 500px;
    height: auto;
    width: 800px;
    overflow-x: none;
    position: absolute;
    display: block;
    z-index: 1;
    overflow: none;
}
.window-form-browser:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 50px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-top: 1px groove #000;
    border-left: 1px groove #000;
    border-right: 1px groove #fff;
    border-bottom: 1px groove #fff;
    background-image: url("../assets/bg-browser.jpg");
    flex: 1;
}
.url-title label {
    float: left;
    border-top: 1px inset;
    border-left: 2px outset;
    border-bottom: 2px inset;
}
.url {
    border-top: 1px inset;
    border-left: 2px inset;
    border-right: 2px inset;
    border-bottom: 1px inset;
    left: 60px!important;
    height: 20px;
    width: 90%;
    text-align: left;
}
.url:disabled {
    position: absolute;
    background-color: #fff;
    color: black;
}
img.weblogo {
    width: 70%;
    margin-top: 1%;
}
.logo {
    text-align: center;
}
.box2,
.box1 {
    display: none;
    background-color: #000;
    color: #fff;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.90);
    width: 40em;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.body-browser {
    overflow-y: hidden;
    left: 0;
    right: 0;
    text-align: center;
}
.body-browser p {
    font-size: 22px;
}
/*.windowed-browser p{
  font-size:30px;
}*/

#first {
    display: none;
}
#second {
    display: none;
}
.left-corner {}
.right-corner {
    position: absolute;
    left: 3%;
}

.right-corner img {
    width: 33%!important;
    height: auto!important;
    /*float: right!important;*/
}
.daguru{
    position: absolute;
}
.speech-lucas{
    background-color: #fff;
    border-radius: 750px;
    width: 310px;
    height: 310px;
    margin: -120px -205px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    justify-content: center; 
    align-items: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.90);
}
.speech-lucas:after{
    content: "";
    position: absolute;
    border: 0;
    border-right-width: 0px;
    border-left-width: 70px;
    border-bottom-width: 20px;
    border-style: solid;
    border-color: transparent #fff;
    display: block;
    width: 0;
    bottom: 40px;
    left: 250px;

}
.speech-lucas p{
    font-size: 22px;
    top:0;
    left: 0;
    vertical-align: middle;
}
.me {
    width: 100%;
    min-width: 300px;
    float: left;
    top:70%;
    position: fixed;
    
}
p.text{
    word-break: normal;
}
p.who{
    position: absolute;
    margin: 230px 90px;
    font-size: 16px
}
.ich {
    pointer-events: none;
}
.dragme {
    pointer-events: all;
}
.me {
    top: 65%;
    left: -1%;
    float: left;
    position: absolute;
}
.social-media{
    top: 85%;
    position: absolute;
    left: 90px;
    list-style: none;
    list-style-type: none;
    
}
.social-media li{
    display: inline;
}
.social-media{
    
}
.social {
    font-size: 20px;
    background: #000;
    color: #fff;
    margin: 10px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.90);
}
.social a {
    text-decoration: none!important;
    color: #fff;
}

.tools-window {
    width: 600px;
    height: 453px;
    z-index: 1;
    box-sizing: border-box;
    width: 650px;
    position: absolute;
}
.education-window {
    width: 400px;
    height: 500px;
    z-index: 1;
    box-sizing: border-box;
    position: absolute;
}
.experiences-window {
    width: 600px;
    height: 540px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
}
.langs-window {
    box-sizing: border-box;
    height: 420px;
    position: absolute;
}
.langs-text {
    text-align: center;
    font-size: 14px;
}
.text-body {
    padding: 10px;
    font-size: 15px;
    text-align: left;
    overflow: hidden;
}
.text-education {
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
}
.text-experiences {
    position: absolute;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    bottom: -4px;
    right: 5px;
    top: 52px;
    left: 3px;
    border-style: inset;
    border-width: 1px;
    border-top: none;
    border-right: 1px inset;
}
.experiences-window:focus {
    display: none;
}
.text-experiences p {
    margin-left: 5px;
    
}
.text-experiences h1 {
    font-size: 13px;
    position: absolute;
    margin-top: -130px!important;
    margin-left: 212px;
}
.sucorpi {
    text-align: center;
}
.freelancer {
    margin-left: 206px!important;
}
.setrans {
    margin-left: 210px!important;
}
.desenvolve {
    margin-left: 230px!important;
}
.text-experiences p {
    padding: 10px 1px -1px 10px;
    text-align: left;
    font-size: 13px;
}
col-experiences-tabs {
    margin-left: ;
}
ul.nav-stacked {
    margin-left: -38px;
}
hr.divider {
    position: ;
    margin-top: -20px;
    margin-left: 300px;
    width: 285px;
}
.nav.nav-stacked li {
    border-style: outset;
    border-width: 2px;
    list-style: none;
    text-align: left;
    display: inline;
    float: left;
    font-weight: bold;
    margin-left: 1px;
    margin-top: -10px;
}
.nav.nav-stacked li.active,
.nav.nav-stacked li:active {
    border-style: inset;
    border-width: 3px;
    border-bottom: none;
    border-left: 1px inset;
}
.nav.nav-stacked a {
    color: #000;
    text-decoration: none;
}
.col-experiences-body {
    margin-top: 10px;
}
.text-experiences {
    margin-top: 0px;
}
.pc-template{
    width: 206px;
}
.pc-tools {
    float: left;
}
.subtitle-tools {
    margin-top: 0px;
    text-align: center;
}
.tools-list {
    margin-top: 0px;
    margin-left: 130px;
    font-size: 16px;
    list-style: none;
    text-align: left;
}
.skills-active,
.readme-active {
    background-color: #C0C0C0;
    height: 50px;
    width: 50px;
    margin-top: -80px;
    margin-left: 12px;
    display: block;
}
.readme-maxi {
    display: block;
    animation: maximize 3s forwards;
}
.readme-active {
    animation: open 3s forwards;
}
.skills-active {
    animation: open2 3s forwards;
}
.skills-window{
    min-width: 780px;
    border-right: 2px groove #fff!important;
    border-bottom: 2px groove #fff!important;
    
}
.dos-title{
    margin: 0px 90px;
        
}
.dos-body{
    background-color: #000;
    color:#fff;
    font-family:'Terminal Dosis';
    
}
.skills-list{
    font-size: 15px;
    list-style: none;
    text-align: left;
}
.skills-list li{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 10px -45px;
}


@media screen and (max-width: 2800px) and (min-width: 1800px) {
    .windowed-browser p {
        font-size: 40px;
    }
    .windowed-boxes {
        width: 80em;
    }
    .social-windowed {
        font-size: 40px;
    }
    .social-media-windowed {
            margin-left: 350px!important;
    } .right-corner-windowed {
        /*left: 0;*/
        top: 40%;
     
    }
    .right-corner-windowed img {
        width: 60%!important;
    }
    .social-media{
       
    }
    .max-win {
    min-height: 97.3vh!important;
    }
    .daguru{
    top: 17px;
    left: 670px;
    }
}
@media screen and (max-width: 1800px) and (min-width: 1680px) {
    .windowed-browser p {
        font-size: 30px;
    }
    .windowed-boxes {
        width: 70em;
    }
    .social-windowed {
        font-size: 30px;
              
    }
    .social-media-windowed {
        left: 5%;
        
    }
    .right-corner-windowed {
        left: 75%
    }
    .right-corner-windowed img {
        width: 45%;
    }
}
@media screen and (max-width: 1679px) and (min-width: 1400px) {
    .windowed-browser p {
        font-size: 30px;
    }
    .windowed-boxes {
        width: 80em;
    }
    .social-windowed {
        font-size: 30px;
    }
    .social-media-windowed {
        left: 23%;
    }
    .right-corner-windowed {
        left: 75%
    }
    .right-corner-windowed img {
        width: 45%;
    }
    
       .right-corner-windowed {
        left: 3%
    }
    .right-corner-windowed img {
        width: 45%!important;
    }
}
@media screen and (max-width: 1399px) and (min-width: 1280px) {
    .windowed-browser p {
        font-size: 25px;
    }
    .windowed-boxes {
        width: 70em;
        
    }
    .social-windowed {
        font-size: 25px;
    }
    .social-media-windowed {
        
        left: 21%;
        top: 90%;
    }
    .right-corner-windowed {
        left: 2%;
        
    }
    .right-corner-windowed img {
        width: 45%;
    }
    .daguru{
        left:500%;
        top: -140px
        
    }
     .me{
        min-width: 250px!important;
    }
    .speech-lucas{
        width: 250px;
        height: 250px;
        left: 40px;
        top: 30px;
    }
    .speech-lucas:after{
        bottom: 30px;
        left: 190px;
        
    }
    .speech-lucas p{
        font-size: 18px;
    }
    p.who{
        position: absolute;
        margin: 188px 90px;
        font-size: 11px;
    }
    img.fogo {
        position: absolute;
        transform: rotate(180deg);
        margin: 285px 87px!important;
        width: 50px!important;
}

    img.fogo.dois {
        margin: 285px 120px!important;
}
}

@media only and(max-height: 800px) and (min-height: 600px) {
    .windowed-browser p {
        font-size: 4px;
    }
    .social-windowed {
        font-size: 4px!important;
    }
}