        <div ng-show="educationMin"  id="window-education" id="education-window" class="education-window window-border">
         <header class="window-header" style="display:block;">
             <img class="window-icon" src="/assets/win-icons/eduico.png">
             <span class="window-title text-form">EDUCATION</span>
            <div class="action_btn">
            <button ng-click="miniEducation()" class="form_btn mini-win"></button>
            <button ng-click="closeme();closeTrayEducation()"  class="form_btn close-win"></button>     
            </div>
         </header>
            <section class="folder-body">
                <div class=" border-deep">
                <div class="text-education">   
                <div>
                      <img width="30px" src="assets/grad-hat.png">
                <p>COMPUTER SCIENCE<br> Veiga de Almeida University<br> 2014 - 2018 (prevision)</p> 
                <p>Computer science bachelor degree (in course)</p>
                </div>
                <div>
                      <img width="25px" src="assets/book2.png">
                <p>IT TECHNICIAN<br>Rio de Janeiro Superior
Educational Institute<br> 2010 - 2011</p> 
                <p>High school degree with IT technician specialization.</p>
                </div>
                    <br>
                <div>
                     <img width="55px" src="assets/book.png">
               <p>ELECTROTECHNOLOGY TECHNICIAN<br>Technician State School Ferreira Viana<br> 2008-2009</p> 
                <p>High school degree with electrotechnology technician specialization (incomplete).</p>
                </div>
                </div>    
                </div>
            </section>
         </div>
        
