<div id="window-guru" class="daguru drag">
<img  class="me" src="assets/lucas.png">
    <img class="fogo" src="assets/FAIRU.gif"><img class="fogo dois" src="assets/FAIRU.gif">
    <div ng-click="quote.pick()" class="speech-lucas">
        <p ng-click="HideText();" ng-show="intro">Click here for a few advices! Seriously. Let's share some knowledge!</p>
        <p ng-show="text" class="text">{{quote.words.text}}</p>
        <br>
        <p ng-show="text" class="who">{{quote.words.who}}</p>
    </div>
    </div>



