<div id="window-langs" class="langs-window window-border open-readme drag">
    <header class="window-header" style="display:block;">
        <img class="window-icon" src="https://placeholdit.imgix.net/~text?txtsize=5&txt=16%C3%9716&w=16&h=16&txtpad=1">
        <span class="window-title text-form">Languages</span>
        <div class="action_btn">

            <button ng-click="closeme()" class="form_btn close-win"></button>
        </div>
    </header>

    <section class="folder-body">

        <div class="text-body border-deep">
            <h2 class="subtitle-tools">LANGUAGES</h2>
            <hr>
            <div class="langs-text">
                <p>Portuguese - Native</p>
                <p>English - Advanced</p>
                <p>Spanish - Intermetiate</p>
                <p>German - Basic</p>
                <img class="pc-tools" src="/assets/map.png">
            </div>



        </div>
    </section>
</div>