<div ng-show="experiencesMin"  id="window-langs" class="langs-window window-border open-readme drag">
    <header class="window-header" style="display:block;">
        <img class="window-icon" src="assets/win-icons/toolsico.png">
        <span class="window-title text-form">LANGUAGES</span>
        <div class="action_btn">
            <button ng-click="miniLangs()" class="form_btn mini-win"></button>
            <button ng-click="closeme();closeTrayLangs()" class="form_btn close-win"></button>
        </div>
    </header>

    <section class="folder-body">

        <div class="text-body border-deep">
            <h2 class="subtitle-tools">LANGUAGES</h2>
            <hr>
            <div class="langs-text">
                <p>Portuguese - Native</p>
                <p>English - Advanced</p>
                <p>Spanish - Intermediate</p>
                <p>German - Basic</p>
                <img class="pc-tools" src="assets/map.png">
            </div>



        </div>
    </section>
</div>