<div ng-show="readmeMin" id="window-readme" class="window-form window-border open-readme drag">
    <header class="window-header" style="display:block;">
        <img class="window-icon" src="assets/win-icons/readmeico.png">
        <span class="window-title text-form">README.TXT</span>
        <div class="action_btn">
            <button ng-click="miniReadme()" class="form_btn mini-win"></button>
            <button ng-click="closeme();closeTrayReadme()" class="form_btn close-win"></button>
        </div>
    </header>
    <section class="folder-body">
        <div class="text-body border-deep">
            <p>Website made using CSS3, HTML5 and AngularJS. This is the beta version, feel free to <a href="https://github.com/machad0/lucas-personal-desktop" target="_blank">fork it on GitHub</a>. I'm still planning to add a few cool stuff in the future, so don't go away! (ﾉ^ヮ^)ﾉ*:・ﾟ✧ </p>
            <h2>Credits</h2>
            <ul class="readme-credits">
                <li>The intellectual property of <a href="https://machad0.github.io/lucas-personal-desktop/assets/icons.png" target="_blank">these icons</a> belongs to Microsoft Corporation™</li>
                <li><a href="http://opengameart.org/" target="_blank">http://opengameart.org/</a> ~ Free assets and sprites!</li>
                <li><a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a> ~ More free stuff</li>
                <li><a href="http://studiowaow.tumblr.com/" target="_blank">http://studiowaow.tumblr.com/</a> ~ Amazing web and contemporary arts studio</li>
                <li><a href="http://www.network-science.de/ascii/" target="_blank">http://www.network-science.de/ascii/</a> ~ ASCII text generator</li>

            </ul>
            <p>For any suggestions, bug reports, PLANS TO HIRE ME, or anything else - just Email me! <a href="mailto:lucas.figueira@gmail.com" target="_top">lucas.figueira@gmail.com</a>. Share it! <span class="heart"><3</span></p> 
            
        </div>
    </section>
</div>