<div ng-show="skillsMin"  id="window-skills" id="window-skiils" class="window-form window-border open-readme skills-window drag">
    <header class="window-header" style="display:block;">
        <img class="window-icon" src="assets/win-icons/skillsico.png">
        <span class="window-title text-form">SKILLS</span>
        <div class="action_btn">
            <button ng-click="miniSkills()" class="form_btn mini-win"></button>
            <button ng-click="closeme();closeTraySkills()" class="form_btn close-win"></button>
        </div>
    </header>
    <section class="dos-body">
        <div class="text-body border-deep">
<pre class="dos-title">
 ________  ___  __    ___  ___       ___       ________      
|\   ____\|\  \|\  \ |\  \|\  \     |\  \     |\   ____\     
\ \  \___|\ \  \/  /|\ \  \ \  \    \ \  \    \ \  \___|_    
 \ \_____  \ \   ___  \ \  \ \  \    \ \  \    \ \_____  \   
  \|____|\  \ \  \\ \  \ \  \ \  \____\ \  \____\|____|\  \  
    ____\_\  \ \__\\ \__\ \__\ \_______\ \_______\____\_\  \ 
   |\_________\|__| \|__|\|__|\|_______|\|_______|\_________\
   \|_________|   
 </pre>
            <ul class="skills-list typeit">

               <li>C:\DESKTOP\SKILLS> Programming and Web Languages: C, C#, Python, Java, HTML5, CSS3, PHP, JavaScript;</li>

               <li>C:\DESKTOP\SKILLS> Development platforms for parallel programming and message exchange: OpenMP and MPI, using C/C++;</li>

               <li>C:\DESKTOP\SKILLS> Frameworks/libraries: AngularJs, Django, JQuery, LESS CSS, ZEND PHP;</li>

               <li>C:\DESKTOP\SKILLS> RESTful web service – Node.js;</li>

               <li>C:\DESKTOP\SKILLS> Object Oriented Design Patterns;</li>

               <li>C:\DESKTOP\SKILLS> Experience with project presentations and negotiation with clients<span class="underline">_</span></li>
            </ul>


        </div>
    </section>
</div>