<div ng-show="toolsMin" id="window-tools" class="tools-window window-border open-readme drag">
    <header class="window-header" style="display:block;">
        <img class="window-icon" src="assets/win-icons/toolsico.png">
        <span class="window-title text-form">TOOLS</span>
        <div class="action_btn">

            <button ng-click="miniTools()" class="form_btn mini-win"></button>
            <button ng-click="closeme();closeTrayTools()" class="form_btn close-win"></button>
        </div>
    </header>

    <section class="folder-body">

        <div class="text-body border-deep">
            <h2 class="subtitle-tools">USED TOOLS</h2>
            <hr>
            <img class="pc-tools" width="150px" src="assets/pc.png">

            <ul class="tools-list">
                <li>Experience with Android development - hybrid using Cordova and Native using Kotlin only;</li>
                <li>IDEs and Editors - Emacs, Vim, AndroidStudio, Unity3D (basic)</li>
                <li>DevOps general tools - ELK Stack, Rancher, AWS Management, Docker, Chef, Sentry;</li>
                <li>Microservices tools - Linkerd, Kong, Kubernetes (basic)</li>
                <li>DBs - Postgres, MongoDB;</li>
                <li>Versioning tools - Git;</li>
                <li>Task Runners/Module Bundler - Grunt, Gulp, Webpack, Leiningen;</li>
                <li>Webservers - Apache and Ngnix;</li>
                <li>Unix operational systems - Debian, ArchLinux/Manjaro, CentOS – and Windows;</li>
            </ul>
        </div>
    </section>
</div>
<script>
    jQuery('#tools-exp').click(function() {
        jQuery(this).toggleClass('active');
    });
</script>
